@use "colors" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2em;

  > div {
    align-items: center;
    justify-content: center;
    display: flex;

    span {
      position: relative;

      app-button {
        ::ng-deep {
          button {
            padding-right: 2em;
          }
        }
      }

      img {
        width: 12px;
        position: absolute;
        left: 80%;
        top: 40%;
      }
    }
  }

  section {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));

    > div {
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;
    }
  }

  ::ng-deep {
    app-button.view-more-btn {
      display: flex;
      align-items: center;
      justify-content: end;

      button {
        border-bottom-left-radius: 2rem !important;
        border-bottom-right-radius: 2rem !important;
        width: 100% !important;
        min-height: 4em !important;
      }
    }

    app-vendor-car {
      .car-list__item {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom-color: transparent !important;
      }
    }
  }
}

.preparing {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;
  margin-top: 4em;
  &__item {
    background-color: $white;
    border: 1px solid $french-gray;
    height: 22em;
    border-radius: 2em;
  }
}

app-legend {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
