@use "colors" as *;
@use "font" as *;

body {
  font-family: "Open Sans", sans-serif;
  color: $jet;
  background-color: $anti-flash-white;

  padding: 3em;

  @media screen and (max-width: 698px) {
    padding: 0;
  }
}
